
extends layout

block content
	h1= title

	ul
	
		each list_authors, i in author_list
			li
				- let name =list_authors.family_name +', '+list_authors.first_name;
				- let date = '('+ list_authors.date_of_birth + ' - '+  list_authors.date_of_death + ')';

				a(href='/catalog/author/'+list_authors.id) #{name}
				|   #{date})

				// next to format the dates