
extends layout

block content
	h1= title

	ul
	
		each list_authors, i in author_list
			li
				- let name =list_authors.family_name +', '+list_authors.first_name;
				- let date = '('+ moment(list_authors.date_of_death).format('DD MMM YYYY') + ' - '+moment(list_authors.date_of_birth).format('DD MMM YYYY') + ')';

				a(href='/catalog/author/'+list_authors.id) #{name}
				|  #{date}